/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
.nav-wrapper {
/*  margin-top: 30px;
  margin-bottom: 30px;*/
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 75vh;
  min-width: 100%;
  padding-top: 20vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  top: -33px;
}
.parallax-container .section {
  width: 100%;
}


/* Custom Style Start*/
.test {
  border:1px solid red;
}

.no-caps {
  text-transform: capitalize;
}

.home-nav ul.desk-nav > li a {
    line-height: normal;
    padding: 8px 12px;
    border-radius: 4px;
}
.home-nav ul.desk-nav > li {
    margin: 0 8px;
}
nav.home-nav ul.desk-nav > li > a:hover,
nav.home-nav ul.desk-nav > li.active > a{
    background: #25a642;
    color: #fff;
}

nav.home-nav ul li.active {
  background-color: transparent;
}
nav.home-nav ul.desk-nav > li i {
  line-height: 18px;
}
.home-nav ul.desk-nav > li li a {
  background:transparent;
  padding: 12px;
}
.home-nav ul.desk-nav {
    padding: 13px 0;
}

.home-nav ul.desk-nav ul {
  min-width: 180px;
}

.custom-title {
  color:#2e465e;
  font-size:36px;
  font-weight:300;
  padding-bottom: 60px;
  position: relative;
  text-align: center;
}

.custom-title:before {
   content:url('../images/title-bg.png');
   position: absolute;
   bottom: 20px;
   left: 0;
   right: 0;
}

.custom-title span {
  font-weight:700;
}

.custom-title.no-decoration {
  padding-bottom: 35px;
}

.custom-title.whats-new-icon,
.custom-title.events-icon {
  text-align: left;
  padding-left: 100px;
}
.custom-title.whats-new-icon:before,
.custom-title.events-icon:before {
  content:url('../images/whats-new.png');
  position: absolute;
  bottom: 20px;
  left: 0;
  /*right: 0;*/
}

.custom-title.events-icon:before {
  content:url('../images/events.png');
}

.page-title {
  color:#2e465e;
  font-weight: 300;
  font-size:48px;
}

.page-title span {
  font-weight: 700;
}

@media only screen and (max-width : 767px) {
  .page-title {
    font-size:30px;
  }
}

.about-wrap {
  padding-top: 200px;
  padding-bottom: 200px;
  background:#f8f6ee url(../images/about-bg.png) no-repeat center right;
  background-size: 50%;
}

@media only screen and (max-width : 767px) {
  .about-wrap {
    background-color:#f8f6ee;
    background-image:none;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.feed-wrap {
  border-top:1px solid #b8d686;
}

.feed-wrap .row,
.subscriptionplan .row,
.top-footer .row {
  margin-bottom: 0;
}

.feed-wrap .feed-tweets, 
.feed-wrap .feed-clients {
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
  padding-right: 100px;
}

@media only screen and (max-width : 767px) {
  .feed-wrap .feed-tweets, 
  .feed-wrap .feed-clients {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.feed-tweets {
  background:#dfefca url(../images/tweet-icon.png) no-repeat center;
}

.feed-tweets p,
.feed-tweets a,
.feed-clients p,
.feed-clients a
 {
  font-size:24px;
  font-weight:300;
  line-height: 32px;
}

.feed-tweets h2,
.feed-clients h2 {
  margin-bottom: 100px;
}

.feed-tweets a {
  color:#00663f;
}
.feed-clients {
  background:#fcfcfc url(../images/client-icon.png) no-repeat center;
}


/**/
.feed-avatar  {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    max-width: 280px;
}

.feed-avatar li {
    padding: 10px 20px;
    padding-left: 92px;
    position: relative;
}

.feed-avatar li img {
    position: absolute;
    width: 64px;
    height: 64px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.feed-avatar li span.title {
  font-size: 16px;
}

.feed-avatar li p {
  font-size:14px;
  margin: 0;
}

.feed-avatar li a {
    position: absolute;
    top: 16px;
    right: 16px;
}

.subscriptionplan {
  background-color:#25a642;
  padding-top: 85px;
  padding-bottom: 85px;
}

.subscriptionplan h2 {
  color: #fff;
}
.subscriptionplan h2:before {
  content:url('../images/title-bg-2.png');
}

.subscriptionplan {

}

.subscriptionplan .card-panel {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.subscriptionplan h3,
.subscriptionplan h4 {
  font-weight:700;
  font-size:36px;
  margin-bottom: 0;
}

.subscriptionplan .description-text,
.subscriptionplan .days {
  color:#a3a3a3;
 }

.subscriptionplan h4 {
  color: #25a642;
 }

.subscriptionplan .days {
    position: relative;
    top: -5px;
}

.white {
  background-color:#fff !important;
  color:#2e465e;
}

.white.lighten-1 {
  background-color: #fff !important;
}


.subscriptionplan a {
  margin-top: 15px;
  font-weight:700;
}

.active-tab {
  background-color: #dfefca
}
.subscriptionplan .active-tab a,
.subscriptionplan a:hover {
  background-color:#e9c540 !important;
}

.top-footer .whats-new-wrap,
.top-footer .events-wrap {
  padding:85px 100px;
}

@media only screen and (max-width : 767px) {
  .top-footer .whats-new-wrap,
  .top-footer .events-wrap {
    padding-left: 30px;
    padding-right: 30px;  
  }
}

.top-footer {
  border-bottom: 1px solid #8ec040;
}

.events-wrap {
  background:#dfefca;
}

.social li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 30px;
 }

.social li a {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
}

/**/

h1.header {
  font-size:52px;
  font-weight:700;
  color:#fff;
}

@media only screen and (max-width : 767px) {
  h1.header {
    font-size:28px;
  }
}



.home-search {
  
}

.home-search form {
  background:#ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.home-search input[type="search"],
.home-search input[type="text"] {
  margin-bottom: 0;
  border-color: transparent;
  color: #2e465e;
}

input[type="search" i] {
    -webkit-appearance: searchfield;
    box-sizing: border-box;
}

#index-banner {

}

#index-banner h1 {
  color:#fff;
}

.lgreen {
  background-color: #8ec040;
}

.lgreen.lighten-1 {
  background-color: #8ec041;
}

.farmers-list {
  color:#2e465e;
  padding-top: 60px;
  padding-bottom: 60px;
}

.farmers-list h1 {
  font-weight:300;
  font-size:48px;
  margin-top: 0;
}


.farmers-list .card-content p {
  font-size:15px;
}
.farmers-list .card-content p small {
  color:#a3a3a3;
  font-size:14px;
}

.farmers-list .card-title {
  font-weight:bold;
  font-size:18px;
}

.farmers-list .card .card-content {
  position: relative;
}

.farmers-list .card .card-content:before {
  content:'';
  position: absolute;
  width: 4px;
  height: 30px;
  left: 0;
  top: 30px;
  background-color: #25a642;
}

.farmers-list .card-content .card-title ,
.farmers-list .card-content p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.search-container {
    max-width: 630px;
    margin: 0 auto;
}

.search-btn {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.inner-search .search-btn {
-webkit-border-radius: 1px;
-webkit-border-top-right-radius: 50px;
-webkit-border-bottom-right-radius: 50px;
-moz-border-radius: 1px;
-moz-border-radius-topright: 50px;
-moz-border-radius-bottomright: 50px;
border-radius: 1px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
}

.inner-search {
  border-radius: 50px;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  border:1px solid #ddd;
}

.inner-search .row {
  margin: 0;
}

.inner-search .col {
  padding: 0;
}

.inner-search input {
  margin: 0 !important;
}



@media only screen and (max-width : 767px) {
  .farmers-list h1 {
    font-size:30px;
  }
}


.farmers-list h1 span {
  font-weight:700;
}

.login-wrapper.card h4 {
    margin: 0 0 20px 0;
}
.login-wrapper.card input[type="submit"] {
    width: 100%;
}
.login-wrapper.card #RecoverPassword, .login-wrapper.card #HideRecoverPasswordLink {
    display: inline-block;
    font-size: 14px;
    margin-top: 15px;
}

.whats-new-wrap ul li p, .events-wrap ul li p  { 
    margin: 0px; 
    line-height: normal;
    color: #666666;
    font-size: 16px; 
}
.whats-new-wrap ul li, .events-wrap ul li {
    padding-bottom: 30px;
}
.whats-new-wrap ul li a, 
.events-wrap ul li a {
    color: #00663f;
    font-size: 18px;
}
.whats-new-wrap ul,
.events-wrap ul {
  padding-left: 105px;
}

/* custom Stye End */

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

footer.page-footer .footer-copyright a {
  color:#0a671f !important;
}

.interior-wrap {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ddd;
}
.interior-container {}

.inner-page-nav li a {
    color: #fff;
}
.contact .e-height {
    padding: 0px;
}
.contact .card {
    margin: 0px;
}
.home-icon {
    width: 20%;
    float: left;
    height: 70px;
}
.phone, .mail { vertical-align:middle; width:20%;}
#map img {
    max-height: 325px;
}
.contact .card{ box-shadow:none;}
.contact {
    box-shadow: 0px 0px 31px -9px #ccc;
}
.c-info {
    margin-top: -150px;
}
.contact a { color:#fff;}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.inner-search {

}

.green.lighten-4 {
  background-color: #f5f5f5!important;
}

.breadcrumb,
.breadcrumb:last-child, 
.breadcrumb:before,
.breadcrumb i,
.breadcrumb a {
  /*color:#4CAF50;*/
}

.filter-search {
    margin-top: -60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.filter-search select {
  /*display: block;*/
}

.tab-filter-search li {
  display: inline-block;
}

.tab-filter-search li a {
  padding: 5px 35px;
  /*background-color: #4CAF50;*/
  color:#4CAF50;
  border:1px solid #4CAF50;
  margin: 0 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.tab-filter-search li.active a,
.tab-filter-search li a:hover {
  background-color: #4CAF50;
  color:white;
}

.detail-page .card {
  box-shadow: 0 0 0 transparent;
}

.single-car-prices {
    background-color: #6c98e1;
}
.single-regular-price {
    padding: 22px 0 13px;
    vertical-align: middle;
    margin-top: 7px;
}
.text-center {
    text-align: center;
}
.single-regular-price > .labeled {
    margin-right: 7px;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
}
.single-regular-price > .h3 {
    position: relative;
    top: -1px;
    left: 1px;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 26px;
    font-weight: 700;
}

.price-description-single {
    padding: 4px 10px;
    background-color: #0e1315;
    font-size: 13px;
    text-align: center;
    /*border-bottom: 1px solid #ddd;*/
    color: #ffffff;
}
.tabs .indicator
{
	background-color:#FF0;
}
.inner-page-search .search-container { margin-top:15px;}
.inner-page-search input[type="search"], .inner-page-search input[type="text"] {
    border-color: #9e9e9e;

}
.inner-page-search .filter-search {
    background: url(../images/background1.jpg) no-repeat;
    background-position: center center;
	background-size:cover;
}

.filter-sec { padding-top:14px;}
ul.tabs.green.profile-info {
    height: inherit;
    overflow: hidden;
}
.profile-info li { border-bottom: 1px solid #fff; }

.profile-info a.active {
    color: #000 !important;
    background: #fff !important;
}
.user-icon { float:left; margin-right:2px !important; margin-top: 1px !important;}
sellerform { width: 100%; display: inline-block; }
.seller-img {
    max-width: 80px;
    float: left;
    position: relative;
    margin-right:10px;
}
.seller-img span
{
cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(12, 6, 6, 0.47);
    padding: 1px 5px;
    margin-bottom:0px;


}
.seller-img span i {
    color: #fff;
}
.filter-sec { padding-top:14px; padding-bottom:14px; }
.contact .material-icons { color: rgba(255, 255, 255, 0.5);}
.contact-btn { margin-left:12px;}

#form_customer_add .stepper.horizontal {
  min-height: 660px;
}

.plans-container .card .card-image {
    position: relative;
    width: 100%;
}

.plans-container .card .card-image .card-title {
    position: relative;
    font-size: 1.28rem;
    line-height: 1.6em;
    text-align: center;
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
    background: rgba(0,0,0,0.1);
}

.plans-container .card .card-image .price {
    position: relative;
    font-size: 5rem;
    line-height: 1.6em;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.plans-container .card .card-image .price-desc {
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
}

.plans-container .card .card-image .price sup {
    font-weight: 100;
    font-size: 1.42rem;
    line-height: 1.6em;
    top: -35px;
}

.signup-error{color:#FF0000; padding-left:15px;}
.message { 
  color: #fb4314;
  font-size: 19px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.plans-container [type="radio"]:not(:checked) + label, 
.plans-container [type="radio"]:checked + label {
    position: relative;
    padding-left: 0;
    cursor: pointer;
    display: block;
    height:inherit;

}


.plans-container [type="radio"]:not(:checked) + label:before,
.plans-container [type="radio"]:not(:checked) + label:after,
.plans-container [type="radio"]:checked + label:before,
.plans-container [type="radio"]:checked + label:after,
.plans-container [type="radio"].with-gap:checked + label:before,
.plans-container [type="radio"].with-gap:checked + label:after {
  border-radius: 0%;
}

.plans-container [type="radio"]:not(:checked) + label:before,
.plans-container [type="radio"]:not(:checked) + label:after {
  border: 2px solid transparent;
}

.plans-container [type="radio"]:not(:checked) + label:after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

/* Checked styles */
.plans-container [type="radio"]:checked + label:before {
  border: 2px solid transparent;
  top:5px;
  left:5;
}

.plans-container [type="radio"]:checked + label:after,
.plans-container [type="radio"].with-gap:checked + label:before,
.plans-container [type="radio"].with-gap:checked + label:after {
  border: 2px solid transparent;
  top:5px;
  left:5;
}

.plans-container [type="radio"]:checked + label:after,
.plans-container [type="radio"].with-gap:checked + label:after {
  background-color: white;
  content: 'Current Plan';
  z-index: 999;
}

.plans-container [type="radio"]:checked + label:after {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}


.plans-container [type="radio"] + label:before, 
.plans-container [type="radio"] + label:after {
  width: inherit;
  height:  inherit;
}

.add__left,
.add__right {
 display: none;
}
@media(max-width: 1109px){
.add__left,
 .add__right,
 .add_vertical{display: none!important;}
}
@media only screen and (min-width : 768px) {
 .add__left,
 .add__right,
 .add_vertical {
  border:1px solid #ddd;
 }

 .add__left,
 .add__right {
  position: fixed;
  top: 150px;
  display: block;
 }


 .add__left {
  left: 0;
 }
 .add__right {
  right: 0;
 }
 .add_vertical {

 }
}

#left_ads,
#right_ads
 {
  /*margin: 80px auto;*/
 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.left_ads {
width:120px;
height:610px;
color:black;
font-weight:bold;
font-size:12px;
position:fixed;
left:10px;
}
#closeadvt, #closeadvt1
{
      position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    color: #000;
    padding: 0px 5px;
    font-weight: bold;
}
.add__left ul, 
.add__right ul
{ 
  margin: 0px !important; 
}
#short-description
{
  position:absolute;
  border: 50px;
  bottom:-127px;
  left:0px;width:160px;
  height:120px;
  background-color:white;
}

#short-description h6{
color: black;
}